/* Override some defaults */

#main-container {
  margin-top: 72px;
}

#main-content {

}

#main-container > footer {
  margin-top: 20px;
}

#main-container > footer p {
  text-align: center; /* center align it with the container */
}
  
