/* Override some defaults */
html, body {
  background-color: #fff;
}

#main-navbar .nav {
   margin-right: 152px;
}

#main-container {
   margin-top: 42px;
}

#main-container > footer {
  margin-top: 20px;
}

#main-container > footer p {
  text-align: center; /* center align it with the container */
}

#main-container .sidebar {
  color: #777;
  /* background-color: #fff; */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQALv3r37zwjjgzhCQkKMYAEYB8RmROaABAAS4A/OBaAi1gAAAABJRU5ErkJggg==) repeat;
  padding: 20px;
  margin-top: 86px;
  border-radius: 5px;
}

#main-container .sidebar .profile {
   text-align: center;
}

#main-container .sidebar .profile a.about-me {
   text-indent: -9999px;
   display: block;
   margin: 20px auto 32px auto;
   padding: 8px 6px;
   height: 24;
   background: url("https://s.aolcdn.com/os/uv/aboutme/images/aboutme-logo.png");
   background-size:136px 24px;
   background-repeat:no-repeat;    
}

#main-container .sidebar .profile .addthis_toolbox {
   margin: 32px auto; 
   padding: 8px 6px;
   border: 1px solid #E8E8E8;  
}

#main-container .sidebar .profile .addthis_toolbox p {
   display: inline-block;
   float: left;
   margin-top: 6px;
   margin-right: 16px;
}

#main-container .sidebar .profile .addthis_toolbox a+a {
   margin-left: 8px;   
}

#main-container .sidebar .profile img {
   margin-left: auto;
   margin-right: auto;
}

/* The white background content wrapper */
#main-container .content {
  background-color: #fff;
  padding: 20px;
}

.publishing {
   color: #666;
}

.post .title {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAJXr179zwjjgzja2tqMYAEYB8RmROaABAD/ew+D0H3hNgAAAABJRU5ErkJggg==) repeat-x;
  padding: 8px 0;
  background-position-y: 52px
}

/* Page header tweaks */
.page-header {
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAJXr179zwjjgzja2tqMYAEYB8RmROaABAD/ew+D0H3hNgAAAABJRU5ErkJggg==) repeat-x;
  background-position-y: 86px
}

.topbar .btn {
  border: 0;
}

.author {
   font-style: italic;
}

.sidebar ul.posts-list {
   margin-left: 0;
}

.sidebar ul.posts-list li {
   list-style: none;
}

/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	