<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="pH8mtb3gMqDajjdiEN7k15Ea2R08IUXfJO3oruJr9O0" />
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<meta property="og:image" content="http://www.gravatar.com/avatar/935ffe39f9c3e3bf45d50203bd3e70d8.png" />
	
	<title>{{ page.title }}</title>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ ASSET_PATH }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

  <body>

    <div id="main-navbar" class="navbar navbar-inverse navbar-fixed-top">
      	<div class="navbar-inner">
        	<div class="container">
				<div class="row">
          			<a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          			<ul class="nav pull-right">
            			{% assign pages_list = site.pages %}
            			{% assign group = 'navigation' %}
            			{% include JB/pages_list %}
          			</ul>
        		</div>
      		</div>
		</div>
    </div>

    <div id="main-container" class="container">

	  	<div class="row">
			<div class="content span8">
				{{ content }}
			</div>

			<div class="sidebar span2">
				<div class="profile"> 
					<img class="avatar" src="http://www.gravatar.com/avatar/935ffe39f9c3e3bf45d50203bd3e70d8.png?s=280"/> 
									
					<a href="http://about.me/FilippoDeLuca" class="about-me">about.me</a>				
									
					<!-- AddThis Follow BEGIN -->
					<div class="addthis_toolbox addthis_24x24_style addthis_default_style">
					<p>Follow me on</p>
					<a class="addthis_button_facebook_follow" addthis:userid="filosganga"></a>
					<a class="addthis_button_twitter_follow" addthis:userid="FilippoDeLuca"></a>
					<a class="addthis_button_linkedin_follow" addthis:userid="filippodeluca"></a>
					<a class="addthis_button_google_follow" addthis:userid="111245912460650017340"></a>
					</div>
					<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-507e60d11e7e89e0"></script>
					<!-- AddThis Follow END -->
				</div>
				
				<div class="archive">
					<h2>Archive</h2>
					<ul class="posts-list">
					{% for post in site.posts limit: 6 %}
						<li><span class="date">{{ post.date | date: "%e %b %Y" }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
					{% endfor %}
					</ul>				
				</div>
				
				{% if site.related_posts %}
				<div class="related">
					<h2>Related</h2>
					<ul class="posts-list">
					{% for post in site.related_posts limit:4 %}
						<li><span class="date">{{ post.date | date: "%e %b %Y" }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
					{% endfor %}
					</ul>
				</div>
				{% endif %}
				
			</div>
      	</div> <!-- row-fluid -->

      <footer>
        <p>&copy; {{ site.author.name }} 2012 
          with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
      </footer>

    </div> <!-- /container -->

    <a href="http://github.com/{{ site.author.github }}">
		<img style="position: fixed; top: 0; right: 0; border: 0; z-index: 9000;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" />
	</a>
    
	{% include JB/analytics %}
  </body>
  	<script type="text/javascript" src="https://www.google.com/jsapi"></script> 
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</html>
