<div class="page-header">
  <h1>{{ page.title }}</h1>
</div>
	
<div class="row-fluid">
  <div class="span12">
    {{ content }}

  <p class="publishing">
	Published
	<span class="author">by&nbsp;<a href="https://plus.google.com/u/0/111245912460650017340?rel=author">Filippo De Luca</a></span>
	on
	<span class="date">{{ page.date | date_to_long_string }}</span>
  </p>

  {% unless page.tags == empty %}
  <div class="tags">  
    <ul class="tag_box inline">
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
    </ul>
  </div>
	{% endunless %}  
	
	{% include JB/sharing %}
	
	<hr>

    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>

    <hr>
    {% include JB/comments %}
  </div>
  
</div>
